.nav-bar {
  background-color: #f1f1f1;
}

.navbar-content {
  display:flex;
  max-width: 1264px;
  margin-left: auto;
  margin-right: auto;  
  height: 50px;
  justify-content: flex-start;
  align-items: center;
}
.navbar-content .logo{
  min-width: 164px;
}

.navbar-content .search-box {
  width: 100%;
  border-radius: 20px;
  display: flex;
  background: white;
  border-style: ridge;
}

.navbar-content .search-box .fa-search{
  padding-left:5px; 
  padding-top:5px; 
}

.navbar-content .search-box input{
  margin-left: 5px;
  width:100%;
  outline: none; 
  background: none; 
  border:0;
}

.navbar-content .icons{
  min-width: 164px;
  display:flex; 
  justify-content: space-between;
  padding:20px;
}

.icons i {
  cursor:pointer;
}

.navbar-content .notification {
  position:relative;
}

.navbar-content .number-of-notification {
  position: absolute;
  top: -5px;
  width:16px;
  height:18px;
  border-radius:50%;
  text-align:center;
  right: -5px;
  font-size:12px;
  background: red;
  color: white;
}

